#hero {
    .hero-row {
        .hero_col-1 {
            .content_section {
                .content-wrapper {
                    .subtitle {
                        font-family: var(--sub-title);
                        letter-spacing: 2px;
                        display: inline-block;

                        &::before {
                            content: "";
                            width: 18px;
                            height: 18px;
                            margin-right: 6px;
                            border-radius: 50%;
                            background-color: var(--accent-color);
                            display: inline-block;
                        }
                    }

                    .title {
                        font-family: var(--title);
                    }

                    a {
                        background-color: var(--accent-color);
                        font-family: var(--title);
                        position: relative;
                        z-index: 1;
                        animation: pulse-border 4s infinite;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            background-color: var(--accent-color);
                            transition: width 0.3s ease;
                            z-index: -1;
                        }

                        &:hover {
                            color: var(--accent-color);
                            background-color: transparent;
                            animation: none;

                            &::before {
                                width: 0%;
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }

        .hero_col-2 {
            overflow: hidden;
            .image_section {
                transform: scale(1.2);

                svg {
                    transform: scale(1.3);
                    animation: float 3s ease-in-out infinite;
                }
            }
        }
    }
}


@keyframes pulse-border {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.493);
    }
    70% {
      box-shadow: 0 0 0 12px rgba(0, 255, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
    }
  }

  


  @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
  }
  